{% extends "main/base.html" %} 
{% block title %}Sign up{% endblock %} 
{% load crispy_forms_tags static %} 
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signup_form.css' %}"/>

<div class="wrapper">
  <div class="box">
    <form method="post">
      <h2>Sign up</h2>
      {% csrf_token %}{{form|crispy}}
      <p class="signup-message">Have an account? Login <a class="signupa" href="/login">here</a></p>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>

{% endblock %}
