* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}

body {
  background-color: #eeeeee;
}

.navbar {
  background-color: #334257;
}

.logout-button {
  background-color: #a10b0bd0;
  color: #ffff;
  margin-left: 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.form-text {
  color: #b6b6b6;
}
.logout-button:hover {
  background-color: #992c2c;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  background-color: #334257;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(130, 130, 130, 0.75);
  -moz-box-shadow: 0px 0px 25px 5px rgba(130, 130, 130, 0.75);
  box-shadow: 0px 0px 25px 5px rgba(130, 130, 130, 0.75);
}

.box form {
  padding: 50px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.box form h2 {
  color: #eeeeee;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}

.form-label {
  color: #ffff;
}

.form-label span {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  color: #23242a;
  letter-spacing: 0.05em;
}

.login-message {
  color: #b6b6b6;
}

.login-message a {
  color: #1778ff;
  text-decoration: none;
}

.login-message a:hover {
  color: #0056cf;
  text-decoration: underline;
}

.signup-message {
  color: #aaaaaa;
}

.signup-message a {
  text-decoration: none;
  color: #06aa00;
}

.signup-message a:hover {
  text-decoration: underline;
  color: #0e830a;
}

.box button {
  padding: 10px;
}

.blog-header {
  color: #334257;
}

.blog-card {
  background-color: #334257;
  color: #c2c2c2;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(130, 130, 130, 0.75);
  -moz-box-shadow: 0px 0px 25px 5px rgba(130, 130, 130, 0.75);
  box-shadow: 0px 0px 25px 5px rgba(130, 130, 130, 0.75);
  min-height: 350px;
  overflow: auto;
}

.blog-card .card-header {
  color: #ffff;
}

.creation-date {
  color: #dfdfdf63;
}

.blog-action-button {
  color: #c2c2c2;
}

.blog-action-button:hover {
  color: #ffff;
}

.blog-view-button {
  color: #777777;
}

.blog-view-button:hover {
  color: #b6b6b6;
}
