{% extends "main/base.html" %} 
{% load static %}
{% block title %}View Post{% endblock %} 
{% block content %}

<div class="card mt-3">
  <div class="card-container">
    <div class="card-header">
      <strong>
        <p>
          <strong>Author:</strong> {{ post.author }}
        </p>
      </strong>
    </div>

    <div class="card-body">
      <p>
        <strong>Title:</strong> {{ post.title }}
      </p>
      <p>
        <strong>Description:</strong> {{ post.description }}
      </p>
      <p>
        <strong>Created at:</strong> {{ post.created_at }}
      </p>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <a href="/home" class="btn blog-view-button">Back</a>
      <a href="{% url 'add_comment' post.pk %}" class="btn blog-view-button">Comment</a>
    </div>

    <div class="comment-section">
      {% if not post.comments.all %}
        <h3>There is no comments...</h3>
      {% else %}
        <h1>Comments...</h1>
        {% for comment in post.comments.all %}
          <div class="comment-details">
            <p>
              <strong>Title:</strong> {{ comment.name }}
            </p>
            <p>
              <strong>Message:</strong> {{ comment.body }}
            </p>
            <p>
              <strong>Created at:</strong> {{ comment.date_added }}
              <strong>by {{ comment.user }}</strong>
            </p>
          </div>
          {% if user == comment.user %}
            <form method="POST" action="{% url 'view_post' post.id %}">
              {% csrf_token %}
              <div class="comment-delete">
                <button type="submit" class="btn blog-view-button" name="comment-id" value="{{ comment.id }}">Delete</button>
                <a href="{% url 'update_comment' pk=post.pk comment_id=comment.id %}" class="btn blog-view-button">Edit</a>
              </div>
            </form>
          {% endif %}
          <hr />
        {% endfor %}
      {% endif %}
    </div>
    {% endblock %}
  </div>
</div>
